body {
    margin: 0;
    padding: 30px;
    height: 100vh;
    font-family: "Patrick Hand", cursive;
    background-color: azure;
    display: grid;
    grid-template-areas:
      "head head head head"
      "stats stats stats stats"
      "pie  pie  avgs avgs"
      "pie  pie  bar  bar";
    grid-template-rows: 60px 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    box-sizing: border-box;
  }
  header {
    grid-area: head;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  .stats {
    grid-area: stats;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
  }
  .stats .card {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .stats .card h3 {
    margin: 5px 0;
  }
  .stats .card p {
    font-size: xx-large;
    margin: 5px 0;
  }
  .pie-container {
    grid-area: pie;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }

  .pie-container > div:first-child,
  .bar > div:first-child,
  .avgs > div:first-child,
  .card >div:first-child{
      background-color: azure;
  }

  .avgs {
    grid-area: avgs;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bar {
    grid-area: bar;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .pie-chart {
    width: 100%;
    max-width: 200px;
    height: 200px;
    margin: 10px auto;
    border-radius: 45% 45% 50% 45%/50% 50% 45% 50%;
    position: relative;
  }
  .pie-chart > div:first-child {
    background: conic-gradient(
      #88bbef 0% var(--todo),
      #dcf877 var(--todo) var(--in-progress),
      #86c884 var(--in-progress) 100%
    );
    border-radius: 50% 45% 50% 45%/45% 50% 45% 50%;
    height: 100%;
    z-index: 500;
  }
  .pie-chart > div::after {
    content: '';
    position: absolute;
    top: 45px;
    left: 45px;
    right: 45px;
    bottom: 45px;
    background: azure;
    border-radius: 45% 50% 45% 50%/50% 45% 50% 45%;
    border: 2px solid #41403E;
    box-sizing: border-box;
    z-index: 1;
  }
  .legend {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  .legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1em;
  }
  .bar-chart {
    width: 80%;
    height: min-content;
    margin: 10px auto;
  }
  .bar-chart > .bar {
      position: absolute;
top: 0;
left: 0;
height: 100%;
background-color: #9fd4a2;
    transition: width 0.5s ease-in-out;
  }