body {
    font-family: "Patrick Hand", cursive;
    font-weight: 700;
    font-size: large;
    font-style: normal;
    display: flex;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #41403E;
}


body > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    text-align: center;
}

input {
    width: 100%;
    font-family: "Patrick Hand", cursive;
    box-sizing: border-box; 
    margin: 0;
    height: 50px;
    
}

input {
    background-color: azure !important;
    border-width: 2px !important;
}

input:focus {
    border-width: 3px !important;
}

input[type="password"] {
    font-family: "Patrick Hand", cursive !important;
    font-size: 20px !important;
    -webkit-text-security: disc !important; 
}

.name-fields {
    display: flex;     
    gap: 20px;           
    width: 100%;        
}

.firstname,
.lastname {
    flex: 1;            
}

.name-fields input {
    width: 100%;       
}

.role-selection {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 10px;
}

.role-selection input[type="radio"] {
    display: none;
}


.role-selection label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
}

.circlev1{
    width: 2px;
    height: 2px;
}

.role-selection input[type="radio"] + .circlev1 > div {
    background: azure;
}


.role-selection input[type="radio"]:checked + .circlev1 > div {
    background: #ae87ec;
}

.submit-btn {
    border-width: 2px !important;
    color: #41403E;
    width: 100%;
    font-family: "Patrick Hand", cursive;
    font-size: large;
    background-color: #97db99;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    font-weight: 700;
}

.submit-btn:hover {
    border-width: 3px !important;
    font-weight: 1000;
}


#error {
    position: absolute;
    right: 7%;
    bottom: 5%;
    width: 20%;
    height: max-content;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
}

#error.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

#error > .borderv2{
    width: 100%;
}

#error > .borderv2 > div{
    background-color: #f1879e;
}