<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/public/css/global.css" />
  <link rel="stylesheet" href="/public/css/register.css" />
</head>
<body>
  <div id="error">
    <div class="borderv2">
      <div class="error-icon"></div>
      Some error...
    </div>
  </div>
  
  <div>
    <h1>Login</h1>
    <form>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" class="borderv1" /><br />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" class="borderv2" /><br />

      <button type="submit" class="submit-btn borderv1">Login</button>
    </form>
    <div style="margin-top: 15px;">Don't have an account? <a href="/register">Register here</a></div>
  </div>
  <script src="/public/js/login.js"></script>
</body>
</html>
